.answer-result {
  margin-bottom: var(--spacing4);
  background-color: var(--color-card-bg);
  padding: var(--spacing3);
  border-radius: var(--base-radius);
  text-align: center;
}

.answer-result__question {
  margin: 0 0 var(--spacing5);
  font-weight: 500;
  padding: 0;
}

.answer-result__explain {
  margin: 0;
  padding: 0;
}

.answer-result__yours {
  color: var(--color-fail);
}

.answer-result.answer-result--correct .answer-result__yours {
  color: var(--color-success);
}
