.app-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.app-footer-text {
  text-align: center;
  background: var(--color-footer-bg);
  padding: var(--spacing5) 0;
  width: 100%;
}

/* Taken from https://www.shapedivider.app/ */
.app-footer-divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.app-footer-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.app-footer-divider path {
  fill: var(--color-footer-bg);
}
